<article class="product-card product-card--placeholder">
  <div class="product-card__link">
    <div class="product-card__media">
      {{ 'product-1' | placeholder_svg_tag: 'product-card__placeholder' }}
    </div>
    
    <div class="product-card__info">
      <h3 class="product-card__title">Example Product Title</h3>
      
      <div class="product-card__price">
        <span>$99.99</span>
      </div>
      
      <button class="button button--primary button--full-width" disabled>
        Add to Cart
      </button>
    </div>
  </div>
</article>